// footer
footer.footer.bg-dark.py-5
  .container.grid.grid-4
    div
      h1.sm ExJpLimited
      p Copyright © 2020
    nav
      h3 Quick Links
      ul
        li
          a(href="/") Home
        li
          a(href="/overview") Inventory
        li
          a(href="/about") About
        li
          a(href="/imports") Imports
        li
          a(href="/contact") Contact
    div
      h3 Legal
      ul
        li
          a(href="/privacy") Privacy Policy
        li
          a(href="/terms") Terms of Use
    .social
      a(href="#")
        i.fab.fa-instagram.fa-2x
      a(href="#")
        i.fab.fa-facebook.fa-2x
      a(href="#")
        i.fab.fa-twitter.fa-2x
