.navbar
  .container.flex
    h1.logo
      a(href='/') ExJpLimited
    nav.nav
      ul
        li
          a(href='/overview') Inventory
        li
          a(href='/about') About
        li
          a(href='/imports') Imports
        li
          a(href='/contact') Contact
