.navbar
  .container.flex
    h1.logo
      span
        a(href='/') ExJpLimited
    nav
      ul
        li
          a(href='/overview') Inventory
        li
          a(href='/about') About us
        li
          a(href='/contact') Contact us
