extends base
block content
  section.about-head.bg-primary.py-3
    .container.grid
      div
        h1.xl About Us
        p.lead Your gateway to japan
        
  section.about.main.py-3.bg-light
    .container
      .about-card
        div
          h2.text-center.md Cars and Car Part Export
          p.sm.p-2 Japan is home to the world's leading manufacturers of automobiles and technological giants.  Our a company specializes in export of new and used cars, trucks and heavy industrial /construction vehicles, medical equipment, commercial kitchen equipment and electronics to any country in the world.  We are a one stop solution for cargo Sourcing, supplier verification, Certification and Logistics.  Name it and we'll have it delivered to you wherever you are on this planet.
        div
          h1.text-primary.text-center.lg Our Strenghts:
          div
            h2.md.m-1 Access to all Auctions in japan
            p.m-1 Our vast experience in motor vehicle  inspection and our access to ALL auctions in Japan  helps us ensure that our clients get the best quality vehicles. 
          div
            h2.md.m-1 A diverse sales team
            p.m-1 Our sales team can speak English,  Swahili, Japanese, and Chinese. 
          div
            h2.md.m-1 Certified mechanics
            p.m-1 We have partnered with some of the best auto garages in major cities to ensure that your customization needs are met. Be it half cuts,  nose cuts  or parts we  will chop, pack and ship them for you. 
          div
            h2.md.m-1 Spare parts
            p.m-1 Need any spare part for your ride? Bulk or itemized, Let us know the model, YOM, number/chassis number and we'll have it delivered to you.
            p.m-1 Top Notch logistics & shipping department
            p.m-1 We 'll drive or rig your ride to the port, prep all the required documents and deliver it to the port in record speed. We deliver vehicles from Japan to anywhere in the world!
          div
            h2.md.m-1 Logistics
            p.m-1 Ship your cargo from Japan in FCL (Full Container Load) or LCL (Less than a Container Load) shipment at the best rate.  Our "Ocean  & Air cargo freight services" cover a wide spectrum.  They include cargo pickup,  packaging, provision of necessary documents, delivery to the free-trade zone, vessel allocation, export customs clearance procedures, loading into the container, and delivery to the container yard. 
          div
            h2.md.m-1 Machinery and Electronics
            p.m-1 We  have access to a wide range of  used and new electronics, medical and industrial equipment. We have previously shipped them to vast destinations around the world. 
            p.m-1
              | W e can create English manuals and product descriptions on request to facilitate the issuance of the CoC  (Certificate of conformity)
              | Name it and we'll send it to you.
          div
            h2.md.m-1 Sourcing
            p.m-1 Planning to shop in Japan?  Name it, well find it and ship it to you.
            p.m-1 For online shoppers, with prior arrangements, fill in our address when you check out of your Japanese online store. The product will be delivered to us and we shall export it to you by either air or sea freight. 
        .p-2